ServerAdapter.Endpoints=tcp #-p 11000
IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000
Room_Manager_Sync_Adapter.Endpoints=tcp
Dungeon_Area_Sync_Adapter.Endpoints=tcp
Dungeon_Adapter.Endpoints=tcp
Dungeon_Area_Adapter.Endpoints=tcp
Room_Manager_Adapter.Endpoints=tcp
Room_Manager2_Adapter.Endpoints=tcp
Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9091#4061


#ServerAdapter.AdapterId=ServerAdapter1
#ServerAdapter.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999
